body {
    background-color: #fff3e6;
    font-family: 'Lora';
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #4a5759;
    text-align: center;
}

h2{
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th {
    background-color: #ffe6cc;
    color: #4a5759;
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

th:hover {
    background-color: #ffc180;
    color: #fff;
    cursor: pointer;
}

td {
    color: #4a5759;
    text-align: left;
    padding: 12px;
    border: 1px solid #ccc;
}

.logo {
    width: 100px;
    height: 30px;
}

.big_image{
    width: 600px;
    height: 400px;
}

.trip {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    color: #4a5759;
}

.trip p.date {
    color: #666;
    font-style: italic;
}

.trip td{
    color: #4a5759;
    text-align: left;
    padding: 12px;
    border: 0px;
}

.details {
    display: flex;
    align-items: center;
}
.route, .tourists {
    margin-top: 10px;
    font-family: 'Lora';
}
h3 {
    color: #4a5759;
    
}

.decoration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fff3e6; 
    font-size: 18px;
    font-family: 'Lora';
    color: #2a4a4f;
}

.decoration:hover {
    background-color: #ffdab3;
    color: #4a5759;
}

.desc{
    color: #4a5759; /* Default text color */
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 1.6;
}


ol.tourists li {
    padding: 10px;
    margin: 5px 0;
    font-family: 'Lora';
    font-size: 17px;
    color: #4a5759;
}

ol.tourists li:hover {
    background-color: #ffdab3; /* Change to your desired hover background color */
    cursor: pointer;
}

